{%extends "index.html"%}
{%block central_image%}{%endblock%}
{%block header%}

<link href="{{STATIC_URL}}css/static.css" rel="stylesheet" type="text/css" media="screen" />

{%endblock%}

{% block body %}

<div id="static_body" >
    <h2 style="text-align:center">Hostel Council</h2>
    <div style="position:absolute;left:140px;">    

        <table style="text-align:center;" cellspacing='10px'>
            <th style="color:#2DA4D4">Secretary</th><th style="color:#2DA4D4">Name (Nick)</th><th style="color:#2DA4D4">E-mail Address</th><th style="color:#2DA4D4">Phone Number</th> 
            <tr> <td>General</td> <td>P.N.V.S. Suryateja</td> <td>suryateja.parimiri@gmail.com</td> <td>9003022862</td> </tr>
            <tr> <td>Sports</td>	<td>Abinash Deuri</td>	<td>abinashdeuri@gmail.com</td> <td>8939075312</td> </tr>
            <tr> <td>Literary Affairs</td><td>Abhishek Basu</td><td>abhiskek.sfy@gmail.com</td> <td>9600153209</td> </tr>
            <tr> <td>Social Affairs</td>	<td>Akshit Salecha</td>	<td>akshit.iitm@gmail.com</td> <td>9884469085</td> </tr>
            <tr> <td>Technical Affairs</td><td>Ankit Jain</td>	<td>ankit.jain.iit11@gmail.com</td> <td>9962276188</td> </tr>
            <tr> <td>Mess</td>	<td> B. Pavan Kumar</td>	<td>pavankmr1994@gmail.com </td> <td>9092006577</td> </tr>
            <tr> <td>Garden</td>	<td>M. Snehil</td>	<td>msnehil@gmail.com</td> <td>9952981481</td> </tr>
            <tr> <td>Alumni Affairs</td>	<td>G. Giri Prasad</td>	<td>gprasad1819@gmail.com</td> <td>9962275635</td> </tr>
        </table>


    </div>
</div>    
{% endblock%}
